@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.card {
    width: 95%;
    line-height: 2.8em;
    position: relative;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    font-size: 2vmin;
    font-family: 'Voces', cursive;
    padding-top: 20px;
    padding-bottom: 3em;
}

.footer {
  height: 19rem;
}

.footer-inner {
  padding-top: 1rem;
  position: relative;
  border-top: 1px solid white !important;
  border-width: 50%;
  width: 33%;
  margin-left: 32%;
  font-size: 2vmin;
  color: white;
}

.image-container {
  background: url('./media/hero_image.jpg') !important;
  height: 290px;
}