@import '~antd/dist/antd.css';

html {
  height: 100%;
}

body {
  height: 100%;
  background: linear-gradient(90deg, rgba(38,183,255,1) 0%, rgba(79,156,218,1) 35%, rgba(76,179,237,1) 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: white;
}

p {
  font-style: 'Roboto';
}